*{
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    height: 170vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

.form-lista {
    display: flex;
    flex-direction: initial;
}

.form{
    padding: 1px 10px;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}

button {
    margin-top: 15px;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.titulo1{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    margin-bottom: 5px;
    width: 95%;
}

.titulo2{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 10px;
}

.cadastro{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 98%;
}

.cadastro-novo{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 98%;
    
}

.tabela-lista {
    border-collapse: collapse;
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.tabela-lista th, .tabela-lista td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.tabela-lista th {
    background-color: #007bff;
    color: white;
}

.tabela-lista tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabela-lista tr:hover {
    background-color: #e0f7fa;
    transition: 0.3s;
}